<!-- Content section for Blog -->
<div style="display:none;" id="main-blog">
    <div class="center drop70" id="blognav">
        <ul>
            <li><a href="#!Blog/Archive" id="Archive">Archive</a></li>
            <li> &nbsp; | &nbsp;</li>
            <li><a href="#!Blog">Blog</a></li>
        </ul>
    </div>

    <!-- Default section, shows a list of X number of posts sorted by date -->
	<div style="display:none;" id="mainLoadSection">
		{% include main.html %}
	</div>

	<!-- Archive section, shows a list all posts sorted by date -->
	<div style="display:none;" id="archiveLoadSection">
		{% include archive.html %}
	</div>

	<!-- Section for an individual post w/ DISQUS to be loaded -->
	<div style="display:none;" id="postLoadSection">
	</div>
</div>