<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.ico">
    <meta charset="utf-8">
    <title> Tianyu Shi &bull; Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tianyu Shi. Personal Website.">
    <meta name="keywords" content="">
    <link href="assets/css/website.css" rel="stylesheet"/>
    <style type="text/css">
        @-moz-document url-prefix() {
            #portfolionav ul,
            #blognav ul {
                display: -moz-box;
            }
        }
    </style>
</head>

<body onload="window.onhashchange()">
    <img style="display:block;" id="loading_bar" src="../assets/images/loading_bar.gif"/>

    <!-- MAIN MENU -->
    <div id="main-menu">
        <ul id="nav">
            <li class="menuLink">
                <a id="Home" href="#" rel="home"> Tianyu Shi </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Blog" href="#!Blog" rel="blog"> Blog </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="About" href="#About" rel="about"> About </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Portfolio" href="#Portfolio" rel="portfolio"> Portfolio </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Resume" href="#Resume" rel="resume"> Resume </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Contact" href="#Contact" rel="contact"> Contact </a>
            </li>
        </ul>
    </div>

    <!-- Content section for About, Resume, Contact -->
    <div style="display:none;" id="main-content">
        <div id="loadSection">
        </div>
    </div>

    <!-- Content section for Tianyu Shi main page -->
    <div style="display:none;" id="main-pic">
        <!-- <img style="opacity: 0.5;" src="assets/images/bg.jpg" width="100%" height="100%"> -->
        <div id="main-pic_bg"></div>
        <div class="welcome">Welcome to my website</div>
    </div>