<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.ico">
    <meta charset="utf-8">
    <title> Tianyu Shi &bull; Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tianyu Shi. Personal Website.">
    <meta name="keywords" content="">
    <link href="assets/css/website.css" rel="stylesheet"/>
</head>

<body onload="window.onhashchange()">
    <!-- <img style="display:block;" id="loading_bar" src="../assets/images/loading_bar.gif"/> -->

    <!-- CLICK SOUND -->
    <audio id="click" class="sound_player">
        <source src="assets/sound/click.m4a" controls></source>
        <source src="assets/sound/click.ogg" controls></source>
    </audio>

    <!-- MAIN MENU -->
    <div id="main-menu">
        <ul id="nav">
            <li class="menuLink">
                <a id="Home" href="#" rel="home"> Tianyu Shi </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Blog" href="#!Blog" rel="blog"> Blog </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="About" href="#About" rel="about"> About </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Portfolio" href="#Portfolio" rel="portfolio"> Portfolio </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Resume" href="#Resume" rel="resume"> Resume </a>
            </li>
            <li class="separator"></li>
            <li class="menuLink"> 
                <a id="Contact" href="#Contact" rel="contact"> Contact </a>
            </li>
        </ul>
    </div>

    <div id="main-content">
        <div id="loadSection">
        </div>
    </div>

    <div id="main-pic">
        <img style="opacity: 0.5;" src="assets/images/bg.jpg" width="100%" height="100%">
        <div class="welcome">Welcome to my website</div>
    </div>