<!-- Content section for Portfolio -->
<div style="display:none;" id="portfolioSection">
    <div class="center drop70" id="portfolionav">
        <ul>
            <li><a href="#Portfolio/Projects" id="Projects">Projects</a></li>
            <li> &nbsp; | &nbsp;</li>
            <li><a href="#Portfolio/Design" id="Design">Design</a></li>
            <li> &nbsp; | &nbsp;</li>
            <li><a href="#Portfolio/Pics" id="Pics">Pics</a></li>
            <li> &nbsp; | &nbsp;</li>
            <li><a href="#Portfolio/Other" id="Other">Other</a></li>
        </ul>
    </div>
    <div style="display:none;" class="center" id="loadSection">
        
    </div>
</div>