---
layout: post
comments: true
---

<div class="post">
	{% assign postData = page %}
	{% assign postContent = content %}

	<div id="postLoadSection">
		<div class="drop90 post">
			<div class="post-content">
				<div class="post_title" id="post_title" identifier="{{ postData.title }}" dataURL="{{postData.url}}">
					{{ postData.title }}
				</div>
				<div class="post_data">
					{{ postData.date | date: "%A %B %d, %Y" }}
				</div>
				<div class="post_body">
					{{ postContent }}
					<br/>
				</div>

				{% if page.comments %}
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						identifier = $("#post_title").attr("identifier") + "plzwrk";
						disqus_url = window.location.href;

						if (window.DISQUS) {
							console.log("Reset DISQUS");

						   //if Disqus exists, call it's reset method with new parameters
						   DISQUS.reset({
						   	reload: true,
						   	config: function () {
						   		this.page.identifier = identifier;
						   		this.page.url = disqus_url;
						   	}});
						} else {

						   var disqus_shortname = 'tianyushi';
						   var disqus_identifier = identifier;
						   var disqus_url = disqus_url;

						   //append the Disqus embed script to HTML
						   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						   dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						   $('head').append(dsq);
						}
					</script>
				<!-- </div> -->
				{% endif %}
			</div>
		</div>
	</div>
</div>