---
layout: post
comments: true
---

<div class="post">
	{% assign postData = page %}
	{% assign postContent = content %}

	<div id="postLoadSection">
		<div class="drop90 post">
			<div class="post-content">
				<div class="post_title" id="post_title" identifier="{{ postData.title }}" dataURL="{{postData.url}}">
					{{ postData.title }}
				</div>
				<div class="post_data">
					{{ postData.date | date: "%A %B %d, %Y" }}
				</div>
				<div class="post_body">
					{{ postContent }}
					<br/>
				</div>

				{% if page.comments %}
				<div class="disqus_wrapper">

<!-- 					<a onclick="loadDisqus(jQuery(this), '<?= $id ?> <?= $post->guid ?>', '<? the_permalink() ?>');">
						Show comments
					</a> -->

					<a onclick="hi()">
						Show comments
					</a>
				</div>
				{% endif %}
			</div>
		</div>
</div>
</div>